---
layout: page
title: Deliveroo nerd squad
---

<div class="row m-t-2">
  <div class="col-xs-12 col-md-5">
    <h2 class="dg-column-title">Guidelines</h2>
    <ul>
      {% for _page in site.guidelines %}
        {% if _page.title %}
          <li>
            <a href="{{ _page.url }}">
              {{ _page.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="col-xs-12 col-md-7">
    <h2 class="dg-column-title">Recent updates</h2>
    <ul>
      {% for _page in site.posts limit:3 %}
        <li>
          <a class="pull-xs-right"
            href="{{site.github.repository_url}}/blob/gh-pages/{{_page.path}}">[edit]</a>
          <a href="{{ _page.url }}">{{ _page.title }}</a>
          {{ _page.exerpt | markdownify }}
        </li>
      {% endfor %}

      {% for _page in site.posts limit:17 offset:3 %}
        <li>
          <a href="{{ _page.url }}">
            {{ _page.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
