---
layout: default
title: deliveroo.engineering
---

<h1>The Deliveroo engineering team blog</h1>

<p>Turning code into food.</p>

<h2>Recent Articles</h2>
<section id="recent-posts">
  {% for _page in site.posts limit: 3 %}
    <div class="post recent">
      <h3><a href="{{ site.baseurl }}{{ _page.url }}">{{ _page.title }}</a></h3>
      <time datetime="{{ _page.date | date_to_xmlschema }}" class="published">{{ _page.date | date: "%A, %B %-d, %Y" }}</time>
      {% if _page.author %}
        <p class="author">{{ _page.author }}</p>
      {% endif %}
      <blockquote>
        {{ _page.exerpt | markdownify }}
      </blockquote>
      <p><a href="{{ _page.url }}" title="{{ _page.title }}">Read more…</a></p>
    </div>
    {% unless forloop.index == 3 %}
      <hr>
    {% endunless %}
  {% endfor %}
</section>

<h2>Other Articles</h2>
<section id="other-articles">
  {% if site.posts.size > 3 %}
    <ul class="articles">
      {% for _page in site.posts limit: 17 offset: 3 %}
        <li>
          <a href="{{ site.baseurl }}{{ _page.url }}" title="{{ _page.title }}">{{ _page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>
