$colors: (
  pumpkin:          #ff8100,
  pimiento:         #ff3d3d,
  beetroot:         #e2004f,
  burger_sauce:     #ffad93,
  lemon_cheesecake: #ffe500,
  lime:             #b5ea44,
  seaweed:          #006d68,
  aubergine:        #440063,
  anchovy:          #8c9b9b,
  mushroom:         #a0918a,
  soba:             #bcbaba,
  teal:             #00bfaf,
  mackerel:         #2e3333
);
