<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#ffffff"
                },
                "button": {
                    "background": "#440063"
                }
            },
            "position": "bottom-left",
            "content": {
                "message": "Our site uses Cookies (chocolate chip, of course).",
                "href": "https://deliveroo.co.uk/cookies"
            }
        })});
</script>
