<meta name="theme-color" content="#440063">
<link rel="mask-icon" color="#440063" href="/images/icons/safari-pinned-tab.svg">
<link rel="apple-touch-icon-precomposed" href="/images/icons/apple-touch-icon.png" sizes="57x57">
<link rel="apple-touch-icon-precomposed" href="/images/icons/apple-touch-icon.png" sizes="72x72">
<link rel="apple-touch-icon-precomposed" href="/images/icons/apple-touch-icon.png" sizes="120x120">
<link rel="apple-touch-icon-precomposed" href="/images/icons/apple-touch-icon.png" sizes="144x144">
<link rel="apple-touch-icon-precomposed" href="/images/icons/apple-touch-icon.png" sizes="152x152">
<link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="shortcut icon" href="/images/icons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="shortcut icon" href="/images/icons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" type="image/png" href="/images/icons/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/images/icons/favicon-512x512.png" sizes="512x512">
<meta name="msapplication-config" content="/images/icons/browserconfig.xml">
