<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}">

  {% if page.layout == 'post' %}
    <meta property="article:author" content="{% for author in page.authors %}{{ author }}{% if author != page.authors.last %}, {% endif %}{% endfor %}">
    <meta property="article:section" content="Engineering Articles">
  {% else %}
    <meta property="og:type" content="website">
  {% endif %}

  <script src="https://use.typekit.net/qxo7ukw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script type="text/javascript" src="/javascript/anchor.min.js" async></script>
  <script type="text/javascript" src="/javascript/fontfaceobserver.js" async></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.slim.min.js" async></script>
  <script type="text/javascript" src="/javascript/application.js" async></script>
  {% include favicons.html %}
  {% seo title=false %}
  {% include cookie_consent.html %}
  {% include analytics.html %}
</head>
