<header id="navigation">
  <nav>
    <input type="checkbox" id="menu" title="Display the navigation menu">
    <label for="menu" id="checkbox-menu" onclick="">Menu</label>
    <ul>
      <li id="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></li>
      {% for item in site.data.routes.navigation %}
        {% if page.url == item.url %}
          <li class="selected"><a href="{{item.url}}">{{item.title}}</a></li>
        {% else %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
