---
layout: default
---
<article class="author">
  <header>
    <img src="{{ page.portrait }}" alt="A picture of {{ page.name }}" class="portrait">
    <h1>{{ page.name }}</h1>
    <p class="tagline">{{ page.jobtitle }}</p>
  </header>

  {{ content }}

  {% assign posts = site.posts | where_exp: "post","post.authors contains page.name" %}
  {% if posts.size > 0 %}
    <p>{{ page.name }} has written the following posts:</p>

    {% for post in posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%Y-%m-%d" }})
    </li>
    {% endfor %}
  {% endif %}

</article>
