$breakpoints: (
  smartphone_small:  320px,
  smartphone_medium: 375px,
  iphone_six_plus:   414px,
  smartphone_large:  480px,
  tablet_small:      640px,
  tablet_smallish:   700px,
  tablet_medium:     750px,
  tablet_large:      768px,
  desktop_small:     800px,
  desktop_medium:    960px,
  desktop_large:     1164px,
  desktop_larger:    1280px
);
