$dg-title-margin:   1.5rem;

.dg-footer {
  @extend .m-t-2;
  @extend .p-t-2;
  @extend .text-muted;
  @extend .small;
  
  border-top:     1px solid $gray-lighter;
}

.dg-title {
  margin-bottom:  $dg-title-margin;
  font-size:      3.5rem;
  line-height:    1;
  font-weight:    200;

}
.dg-subtitle {
  @extend .text-muted;
  margin-bottom:  $dg-title-margin;
  font-size:      1.5rem;
  line-height:    1;
}
.dg-title + .dg-subtitle {
  margin-top:     -$dg-title-margin;
}
.dg-edit-link {
  line-height:    3.5rem;
}
