body {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $default-font;
  font-size: 62.5%;
  color: color(mackeral);
  background-color: color(anchovy, 5%);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  
  main {
    -webkit-flex: 1;
    flex: 1;
    padding: 50px 10px;
    font-size: font-size(medium-body);
    line-height: 1.5;

    > h1,
    > h2,
    > p,
    > section {
      @include auto-width(desktop_larger);
    } // body main > {h1, h2, p, section}
    
    > hr {
      @include auto-width(desktop_larger, $vertical-margins: 2em);
    } // body main > hr
    
    > h1 {
      margin-bottom: 10px;
    } // body main > h1
    
    > ul,
    > ol {
      margin-top: 20px;
    } // body main > {ul, ol}
    
    @include min-width(tablet_small) {
      padding: 100px 10px;
    } // @min-width(tablet_small) body main
  } // body main
} // body

p.tagline {
  color: color(anchovy);
  text-align: center;
  margin-bottom: 100px;
  font-size: font-size(large-body);
} // p.tagline

.byline {
  display: block;
  color: color(anchovy);
  text-align: center;
  
  span.author,
  time.published {
    color: color(mackeral, 80%);
  } // .byline {span.author, time.published}
  
  time.published {
    white-space: nowrap;
  } // .byline time.published
} // .byline

$post-gutter: 40px;

section {
  @include auto-width(desktop_larger);

  & + h2 {
    margin-top: 50px;
    text-align: center;
  } // section + h2

  div.post {
    h3 {
      margin-bottom: 0.5em;
      text-align: center;
      
      a {
        border: none;
      } // section div.post h3 a
    } // section div.post h3
    
    blockquote {
      margin: 0;
    } // section div.post blockquote
  } // section div.post
  
  &#latest-post {
    h3 {
      font-size: font-size(medium-heading);
    } // section#latest-post h3
  } // section#latest-post
  
  &#recent-posts {
    p.byline {
      font-size: font-size(small-body);
    } // section#recent-posts p.byline
    
    @include max-width(desktop_small) {
      div.post + div.post {
        margin-top: 20px;      
      } // @max-width(desktop_small) section#recent-posts div.post + div.post
    } // @max-width(desktop_small) section#recent-posts
  
    @include min-width(desktop_small) {
      display: -webkit-flex;
      display: flex;
    
      hr {
        display: none;
      } // @min-width(desktop_small) section#recent-posts hr
    
      div.post {
        -webkit-flex: 1;
        flex: 1;
      } // @min-width(desktop_small) section#recent-posts div.post
    
      * + div.post {
        margin-left: 20px;
      } // @min-width(desktop_small) section#recent-posts * + div.post
    } // @min-width(desktop_small) section#recent-posts
  } // section#recent-posts
  
  &#other-articles {
    ul.articles {
      @include unstyled-list;
      font-size: font-size(small-body);
      margin-top: 20px;
      text-align: center;
      
      li {
        color: color(anchovy);
        
        & + li {
          margin-top: 10px;
        } // section#other-articles ul.articles li + li
      } // section#other-articles ul.articles li
    } // section#other-articles ul.articles
  } // section#other-articles
} // section

article {
  @include auto-width(desktop_small);
  
  header {
    h1 {
      color: color(aubergine);
    } // article header h1
    
    p.byline {
      margin: 40px 0;
    } // article header p.byline
  } // article header
  
  div.excerpt {
    font-size: font-size(large-body);
  } // article div.excerpt
  
  figure {
    margin: 3em 0;

    img {
      width: 100%;
    } // article figure img
  } // article figure
  
  h2, h3, h4, h5, h6 {
    margin: 3em 0 1em;
  } // article h{2…6}
  
  pre.highlight {
    overflow: auto;
  } // article pre.highlight
  
  sup {
    a.footnote {
      padding: 0 2px;
    } // article sup a.footnote
  } // article sup
  
  aside {
    padding: 10px;
    background-color: color(anchovy);
    color: white;
    
    h3, h4, h5, h6 {
      margin: 0.5em 0 1em;
      
      &:first-child {
        margin-top: 0;
      } // article aside h{3…6}:first-child
    } // article aside h{3…6}
    
    *:last-child {
      margin-bottom: 0;
    } // article aside *:last-child
    
    @include min-width(tablet_small) {
      float: right;
      margin: 0 0 20px 20px;
      width: 50%;
    } // @min-width(tablet_small) article aside
    
    @include min-width(desktop_small) {
      width: 40%;
    } // @min-width(desktop_small) article aside
  } // article aside
  
  blockquote {
    @include auto-width(desktop_small, $vertical-margins: 2em);
    color: color(anchovy);
    border-left: 4px solid color(anchovy, 40%);
    padding-left: 10px;
    box-sizing: border-box;
  } // article blockquote
  
  ul, ol {
    @include auto-width(desktop_small, $vertical-margins: 2em);
  } // article {ul, ol}
  
  div.footnotes {
    color: color(mackeral, 80%);
    
    a.reversefootnote {
      border: none;
    } // article div.footnotes a.reversefootnote
  } // article div.footnotes
} // article

ol#markdown-toc {
  @include auto-width(desktop_small);
  font-size: font-size(small-body);
  counter-reset: root;
  padding-left: 0;
  margin-bottom: 6em;
  
  > li {
    counter-increment: root;

    &:before {
      content: counter(root) ".";
    } // ol#markdown-toc > li:before

    > ol {
      counter-reset: subsection;

      > li {
        counter-increment: subsection;

        &:before {
          content: counter(root) "." counter(subsection) " ";
        } // ol#markdown-toc > li > ol > li:before
        
        > ol {
          counter-reset: subsubsection;
          
          > li {
            counter-increment: subsubsection;
            
            &:before {
              content: counter(root) "." counter(subsection) "." counter(subsubsection) " ";
            } // ol#markdown-toc > li > ol > li > ol > li:before
          } // ol#markdown-toc > li > ol > li > ol > li
        } // ol#markdown-toc > li > ol > li > ol
      } // ol#markdown-toc > li > ol > li
    } // ol#markdown-toc > li > ol
  } // ol#markdown-toc > li
  
  ol {
    margin-top: 0.5em;
  } // ol#markdown-toc ol
  
  li {
    list-style-type: none;
    
    & + li {
      margin-top: 0.5em;
    } // ol#markdown-toc li + li
    
    &:before {
      margin-right: 0.25em;
    } // ol#markdown-toc li:before
  } // ol#markdown-toc li
} // ol#markdown-toc
