time.published {
  color: color(light_grey);
} // time.published

p.author {
  color: color(light_grey);
  margin-top: 0;
} // p.author

section + h2 {
  margin-top: 50px;
} // section + h2

section#recent-posts {
  @include auto-width(desktop_medium);

  div.post {
    h3 {
      margin-bottom: 0.5em;
    } // section#recent-posts div.post h3
    
    blockquote {
      margin: 0;
    } // section#recent-posts div.post blockquote
  } // section#recent-posts div.post
  
  @include max-width(desktop_small) {
    div.post + div.post {
      margin-top: 20px;      
    } // @max-width(desktop_small) section#recent-posts div.post + div.post
  } // @max-width(desktop_small) section#recent-posts
  
  @include min-width(desktop_small) {
    display: -webkit-flex;
    display: flex;
    
    hr {
      display: none;
    } // @min-width(desktop_small) section#recent-posts hr
    
    div.post {
      -webkit-flex: 1;
      flex: 1;
    } // @min-width(desktop_small) section#recent-posts div.post
    
    * + div.post {
      margin-left: 20px;
    } // @min-width(desktop_small) section#recent-posts * + div.post
  } // @min-width(desktop_small) section#recent-posts
} // section#recent-posts

section#other-articles {
  @include auto-width(desktop_medium);
} // section#other-articles

article {
  @include auto-width(desktop_medium);
  
  header {
    h1 {
      color: color(teal, $darken: 80%);
    } // article header h1
  } // article header
  
  div.excerpt {
    font-size: font-size(large-body);
  } // article div.excerpt
  
  time.published,
  p.author {
    font-size: font-size(large-body);
  } // article {time.published, p.author}
  
  figure {
    margin: 3em 0;

    img {
      width: 100%;
    } // article figure img
  } // article figure
  
  h2, h3, h4, h5, h6 {
    margin: 2em 0 1em;
  } // article h{2…6}
  
  code.highlighter-rouge {
    background-color: color(light_grey, 25%);
  } // article code.highlighter-rouge
  
  pre.highlight {
    overflow: auto;
  } // article pre.highlight
  
  sup {
    a.footnote {
      padding: 0 2px;
    } // article sup a.footnote
  } // article sup
  
  aside {
    padding: 10px;
    background-color: color(light_grey);
    color: white;
    
    h3, h4, h5, h6 {
      margin: 0.5em 0 1em;
      
      &:first-child {
        margin-top: 0;
      } // article aside h{3…6}:first-child
    } // article aside h{3…6}
    
    *:last-child {
      margin-bottom: 0;
    } // article aside *:last-child
    
    @include min-width(tablet_small) {
      float: right;
      margin: 0 0 20px 20px;
      width: 50%;
    } // @min-width(tablet_small) article aside
    
    @include min-width(desktop_small) {
      width: 40%;
    } // @min-width(desktop_small) article aside
  } // article aside
  
  div.footnotes {
    color: color(dark_grey, 80%);
    
    a.reversefootnote {
      border: none;
    } // article div.footnotes a.reversefootnote
  } // article div.footnotes
} // article
